
.posts {
    font-size: 75%;
    border: 1px silver solid;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}

.posts li {
       list-style-type: none;
       text-indent: -1.5em; 
       margin-left: 1.5em; 
}

.posts h3 {
       margin-top: 0.2em;
}      

.datelabel {
   font-style: italic;	   
}

img {
    max-height: 100%;
    max-width: 100%;
}


ul.postslist {
    padding: 0;
}


.postslist li {

    list-style-type: none;
    border-bottom: solid 1px silver;
    margin-bottom: 1.5em;
}